<div class='panel panel-primary'>
    <div class='panel-heading'>
        <h1>{{panelHeading}}</h1>
    </div>
    <div class='panel-body' *ngIf='dishes && dishes.length'>
        <p>{{dietMessage}}</p>
        <p>{{errorMessage}}</p>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <th></th>
                    <th>Portata</th>
                    <th>Nome</th>
                    <th>Dieta</th>
                    <th>Prezzo</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor='let dish of dishes'>
                        <td><img [src]='dish.imageUrl' alt='dish image' [style.width.px]='imageWidth'>
                        </td>
                        <td>{{dish.course |uppercase}}</td>
                        <td><a [routerLink]='["/menu",dish.id]'>{{dish.name}}</a></td>
                        <td>
                            <app-diet [dietName]='dish.diet'
                            (notifyDiet)='onNotifyDiet($event)'></app-diet>
                        </td>
                        <td>{{dish.price | currency:'EUR':true:'1.2-2'}}</td>
                        <td>
                            <div class='input-group center'>
                                <span class='input-group-btn'>
                                    <button class="btn btn-primary" (click)='decCounter(dish)'>
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>
                                <input type="text" class="form-control input-number" min="1" [(ngModel)]='dish.counter'>
                                <span class='input-group-btn'>
                                    <button class="btn btn-primary" (click)='incCounter(dish)'>
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf='totPrice > 0'>
        <div class='panel-heading'>
            Vassoio
        </div>
        <div class='panel-body'>
            <table class='table'>
                <thead>
                    <th>Nome</th>
                    <th>Quantità</th>
                    <th>Prezzo</th>
                </thead>
                <tbody>
                    <tr *ngFor='let dish of orderedDishes'>
                        <td>{{dish.name}}</td>
                        <td>{{dish.counter}}</td>
                        <td>{{dish.price * dish.counter | currency:'EUR':true:'1.2-2'}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align='right'><b>Conto attuale:</b></td>
                        <td><b>{{totPrice|currency:'EUR':true}}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='panel-footer' align='center'>
            <button class='btn btn-default' (click)='reset()'>Cancella</button>
            <button class='btn btn-primary' (click)='doOrder()'>Ordina</button>
        </div>
        <div class='panel-footer' align='center'>
               <p>{{dietMessage}}</p>
        </div>
    </div>
</div>