<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{panelHeading}}
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <th>Portata</th>
                    <th>Nome</th>
                    <th>Prezzo</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Primo</td>
                        <td>Carbonara</td>
                        <td>7 euro</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>