<div class='panel panel-primary'>
    <div class='panel-heading'>
        <h1>{{panelHeading}}</h1>
    </div>
    <div class='panel-body' *ngIf='dishes && dishes.length'>
        {{dietMessage}}
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <th></th>
                    <th>Portata</th>
                    <th>Nome</th>
                    <th>Dieta</th>
                    <th>Prezzo</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor='let dish of dishes'>
                        <td><img [src]='dish.imageUrl' alt='dish image' [style.width.px]='imageWidth'>
                        </td>
                        <td>{{dish.course |uppercase}}</td>
                        <td>{{dish.name}}</td>
                        <td>
                            <app-diet [dietName]='dish.diet'
                            (notifyDiet)='onNotifyDiet($event)'></app-diet>
                        </td>
                        <td>{{dish.price | currency:'EUR':true:'1.2-2'}}</td>
                        <td>
                            <div class='input-group center'>
                                <span class='input-group-btn'>
                                    <button class="btn btn-primary" (click)='decCounter(dish)'>
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>
                                <input type="text" class="form-control input-number" min="1" [(ngModel)]='dish.counter'>
                                <span class='input-group-btn'>
                                    <button class="btn btn-primary" (click)='incCounter(dish)'>
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>Hai speso un totale di {{totPrice|currency:'EUR':true}}</p>
            <button class='btn btn-default' (click)='reset()'>reset</button>
            <button class='btn btn-primary' (click)='doOrder()'>Ordina</button>
        </div>
    </div>
</div>