.welcomeImage
{
    padding-top: 50px;
}

.centerMessage
{
    text-align: center;
}

.panel-heading {
    background-color: #005781;
    border-color:  #005781;
    /* this is the text color */
    color: white 
}

.panel-primary {
    border-color:  #005781;
}